# Ч Obsuga Brakujcych Danych (Missing Data)

W prawdziwym wiecie dane nigdy nie s czyste. Zawsze czego brakuje:
*   Klient nie poda wieku.
*   Awaria czujnika temperatury.
*   Bd zapisu w bazie.

W Pythonie braki oznaczamy jako **NaN** (Not a Number).
Wikszo modeli ML (Regresja, Sieci Neuronowe) **wywali si**, jeli zobaczy NaN.

Mamy trzy g贸wne strategie:
1.  **Usuwanie:** "Nie ma danych? Do mieci." (Ryzykowne).
2.  **Imputacja Prosta:** "Wstaw redni." (Szybkie, ale znieksztaca).
3.  **Imputacja Inteligentna:** "Zgadnij warto na podstawie grupy." (Najlepsze).

In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

# 1. TWORZYMY BRUDNE DANE (Symulacja HR)
# Mamy pracownik贸w. Niekt贸rzy nie podali WIEKU, inni PENSJI.
data = {
    'Stanowisko': ['Junior', 'Senior', 'Junior', 'Senior', 'Junior', 'Senior', 'Boss'],
    'Wiek':       [22,       45,       np.nan,   50,       23,       np.nan,   55],
    'Pensja':     [4000,     12000,    3500,     np.nan,   np.nan,   13000,    25000]
}

df = pd.DataFrame(data)

print("--- ORYGINA (Zauwa偶 NaN) ---")
display(df)

# Sprawd藕my, ile dokadnie brakuje
print("\nIle brak贸w w ka偶dej kolumnie?")
print(df.isnull().sum())

--- ORYGINA (Zauwa偶 NaN) ---

  Stanowisko  Wiek   Pensja
0     Junior  22.0   4000.0
1     Senior  45.0  12000.0
2     Junior   NaN   3500.0
3     Senior  50.0      NaN
4     Junior  23.0      NaN
5     Senior   NaN  13000.0
6       Boss  55.0  25000.0

Ile brak贸w w ka偶dej kolumnie?
Stanowisko    0
Wiek          2
Pensja        2
dtype: int64

## Metoda 1: Usuwanie (The Nuclear Option)

Najprostsze podejcie: `dropna()`.
Usuwamy ka偶dy wiersz, kt贸ry ma chocia偶 jedn dziur.

In [2]:
df_dropped = df.dropna()

print(f"Oryginalny rozmiar: {df.shape}")
print(f"Po usuniciu brak贸w: {df_dropped.shape}")
print("-" * 30)

print("--- WYNIK ---")
display(df_dropped)

print("\nWNIOSEK: Stracilimy prawie poow danych! (3 z 7 wierszy).")
print("Jeli masz mao danych, to samob贸jstwo.")

Oryginalny rozmiar: (7, 3)
Po usuniciu brak贸w: (3, 3)
------------------------------
--- WYNIK ---

  Stanowisko  Wiek   Pensja
0     Junior  22.0   4000.0
1     Senior  45.0  12000.0
6       Boss  55.0  25000.0

WNIOSEK: Stracilimy prawie poow danych! (3 z 7 wierszy).
Jeli masz mao danych, to samob贸jstwo.

## Metoda 2: Prosta Imputacja (rednia)

Zamiast usuwa, wstawmy redni z caej kolumny.
U偶yjemy do tego `SimpleImputer` z biblioteki Scikit-Learn.

**Problem:**
rednia pensja w firmie to np. 10 000.
Jeli wstawimy t liczb Juniorowi (kt贸ry zarabia 4000), to sztucznie go "wzbogacimy". Model zgupieje.

In [3]:
# Tworzymy Imputer (Strategia: rednia)
imputer = SimpleImputer(strategy='mean')

# Kopiujemy dane, 偶eby nie zepsu oryginau
df_mean = df.copy()

# Wybieramy tylko kolumny liczbowe (Stanowiska nie da si uredni matematycznie)
cols_num = ['Wiek', 'Pensja']
df_mean[cols_num] = imputer.fit_transform(df[cols_num])

print("--- IMPUTACJA REDNI ---")
display(df_mean)
print("Sp贸jrz na wiersz 4 (Junior). Dosta pensj ok. 11 500.")
print("To nie ma sensu! Juniorzy tyle nie zarabiaj.")

--- IMPUTACJA REDNI ---

  Stanowisko  Wiek   Pensja
0     Junior  22.0   4000.0
1     Senior  45.0  12000.0
2     Junior  39.0   3500.0
3     Senior  50.0  11500.0
4     Junior  23.0  11500.0
5     Senior  39.0  13000.0
6       Boss  55.0  25000.0

Sp贸jrz na wiersz 4 (Junior). Dosta pensj ok. 11 500.
To nie ma sensu! Juniorzy tyle nie zarabiaj.

## Metoda 3: Imputacja Kontekstowa (Grupowanie)

To jest **sprytne podejcie**.
Zamiast bra redni wszystkich ludzi, we藕my:
*   Dla brakujcego wieku Juniora -> redni wieku **innych Junior贸w**.
*   Dla brakujcej pensji Seniora -> redni pensj **innych Senior贸w**.

U偶yjemy do tego magii Pandasa: `groupby() + transform()`.

In [4]:
df_smart = df.copy()

# 1. Wypeniamy PENSJ redni w ramach STANOWISKA
df_smart['Pensja'] = df_smart['Pensja'].fillna(
    df_smart.groupby('Stanowisko')['Pensja'].transform('mean')
)

# 2. Wypeniamy WIEK redni w ramach STANOWISKA
df_smart['Wiek'] = df_smart['Wiek'].fillna(
    df_smart.groupby('Stanowisko')['Wiek'].transform('mean')
)

print("--- IMPUTACJA INTELIGENTNA (Grupowa) ---")
display(df_smart)

print("ANALIZA:")
print("- Junior (wiersz 4) dosta pensj 3750 (rednia Junior贸w). Bardzo realne!")
print("- Senior (wiersz 3) dosta pensj 12500 (rednia Senior贸w). Te偶 realne.")

--- IMPUTACJA INTELIGENTNA (Grupowa) ---

  Stanowisko  Wiek   Pensja
0     Junior  22.0   4000.0
1     Senior  45.0  12000.0
2     Junior  22.5   3500.0
3     Senior  50.0  12500.0
4     Junior  23.0   3750.0
5     Senior  47.5  13000.0
6       Boss  55.0  25000.0

ANALIZA:
- Junior (wiersz 4) dosta pensj 3750 (rednia Junior贸w). Bardzo realne!
- Senior (wiersz 3) dosta pensj 12500 (rednia Senior贸w). Te偶 realne.

##  Podsumowanie: Nie kam danymi

Dlaczego spos贸b atania dziur ma znaczenie?

**Tu jest haczyk.**
Ka偶da imputacja to troch **kamstwo**. Wymylamy dane, kt贸rych nie byo.
*   Jeli usuniesz dane -> Wprowadzasz **Bias** (np. usuwasz tylko biednych ludzi, bo oni rzadziej podaj zarobki, wic Tw贸j model myli, 偶e wiat jest bogaty).
*   Jeli wstawisz redni globaln -> Zabijasz r贸偶norodno (**Variance**). Wszyscy staj si "przecitni".
*   Jeli u偶yjesz kontekstu (Grupy) -> Twoje "kamstwo" jest najbardziej prawdopodobne.

**Zasada AI Engineera:**
Zanim wpiszesz `fillna(0)` albo `dropna()`, zastan贸w si przez minut: *"Dlaczego tej wartoci brakuje i co najbardziej przypomina prawd?"*.